@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Quicksand', sans-serif;
   background-color: #eee;
   
}
.form-input{
    @apply outline-none border-b-2 p-3 border-gray-400 text-xl bg-inherit
}

.btn-primary{
    @apply py-2 px-4 bg-blue-500  text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 capitalize cursor-pointer 
}

.btn-auth{
    @apply p-1.5 text-sm  bg-gray-500  text-gray-200 font-semibold rounded-lg shadow-md hover:bg-gray-400 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 capitalize cursor-pointer transition-all 
}

.btn{
    @apply p-2 text-sm  bg-gray-100  text-gray-900 font-bold rounded-lg shadow-md hover:scale-110 hover:bg-gray-400 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 capitalize cursor-pointer transition-all 
}
.bttn{
    @apply p-2 text-sm  bg-gray-100  text-gray-900 font-bold rounded-lg shadow-md hover:scale-110 hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 capitalize cursor-pointer transition-all 
}

.dropdown{
    @apply absolute grid gap-2 bg-slate-300 p-3 w-36 text-sm rounded-md border-solid border-2 border-gray-400 
}
.link{
   @apply hover:text-black hover:font-bold transition-all 
}

.active{
  @apply text-black font-bold border-b-2 border-gray-700 transition-all 
}

.scroll::-webkit-scrollbar{
    display: none;
}

.disable {
    @apply opacity-50 cursor-auto hover:bg-blue-500
}

